@{
    ViewData["Title"] = "ISWorker";
}
@{
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="container mt-2">
        <div id="modalFrontSide" style="display: none; width: 50%; position: fixed; z-index: 100001; left: 25%; top: 40%;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Reiniciando o aplicativo
                </div>
                <div class="panel-body">
                    <h4>Você será redirecionado para a página de login do aplicativo.</h4>

                    <br>                    
                </div>
            </div>
        </div>
        <div class="text-center">
            <h1 class="display-5 pt-10">ISWorkerAdmin</h1>
        </div>

       

    </div>
<!--
<div class="container h-100 mt-3">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button  class="btn btn-primary float-right" OnClientClick="return validateFields();">Salvar e reiniciar</button> 
        </div>
    </div>
</div>    
!-->


<div class="container h-100 mt-3">
     <h4 class=" text-center text-primary mt-2">Antes de iniciar precisamos de algumas informações para rodar o aplicativo</h4>
        
    <div class="container-fluid mt-5">        
        <div class="row 100 justify-content-center align-items-center">
            <div class="col-md-8">   
                <div class="card">
                    <div class="card-header" >
                        <div class="text-center">
                            <h3><i class="fas fa-cogs mr-1"></i> Configuração de conexão com banco de dados</h3>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="selectDatabase" class="col-md-3 col-form-label">Driver</label>
                                <div class="col-md-9">
                                    <select class="custom-select" id="selectDataBase" placeholder="Driver">
                                    <option>MS SQL Server</option>
                                    <option>MySQL</option>
                                    <option>Postgree SQL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="serverName" class="col-md-3 col-form-label">Server Name</label>
                                <div class="col-md-9">
                                <input type="email" class="form-control" id="serverName" placeholder="Server Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="databasename" class="col-md-3 col-form-label">Database Name</label>
                                <div class="col-md-9">
                                <input type="email" class="form-control" id="databasename" placeholder="Database Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="user" class="col-md-3 col-form-label">Usuário</label>
                                <div class="col-md-9">
                                <input type="email" class="form-control" id="user" placeholder="Usuário">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword3" class="col-md-3 col-form-label">Senha</label>
                                <div class="col-md-9">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Senha">
                                </div>
                            </div>                            
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" id="btnSave" class="btn btn-success btn-lg" onclick=@Url.Action("TestConfig","ConfigWorkerController",FormMethod.Post)>Testar configurações</button>
                            <button type="submit" id="btnTest" class="btn btn-primary btn-lg float-right">Salvar e Instalar</button>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>             
            </div>

        </div>
    </div>  
</div>

@section scripts{    
    <script src="~/js/configworker.js"></script>
}